<div class="container">
  <div class="above-fooeter">
    <div class="list">
      <ul class="color">
        <li>About</li>
        <li>Company</li>
        <li>Locations</li>
        <li>Contact</li>
        <li>Hours</li>
      </ul>
    </div>

    <div class="list">
      <ul class="color">
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
      </ul>
    </div>

    <div class="list">
      <ul>
        <li><b>Newsletter:</b></li>
        <li><input id="demo" type="text" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <h6>
      This project is <a href="#"> source on github</a>, hosted with
      <a href="#">Netlify </a> and made with love by Sarah Drasner,
      <a href="#"> @sarah_edo (twitter)</a> & <a href="#"> (github)</a>
    </h6>
  </div>
</div>
