<header>
  <div class="title">
    <h1>
      <span style="font-size: 70px; color: springgreen ">R</span
      ><span style="font-size: 60px;color: snow">O</span
      ><span style="font-size: 50px; color: yellow">H</span
      ><span style="font-size: 40px;color: darkorange">A</span
      ><span style="font-size: 30px; color: red">N</span>

      <span style="font-size: 30px; color: red ">N</span
      ><span style="font-size: 40px;color: darkorange">A</span
      ><span style="font-size: 50px; color: yellow">H</span
      ><span style="font-size: 60px; color: snow">O</span
      ><span style="font-size: 70px; color: springgreen">R</span>
    </h1>
  </div>

  <!-- <ul class="menu">
      <li class="menu-border"><a href="#">HOME</a></li>
      <li class="menu-border"><a href="#">ALL</a></li>
      <li class="menu-border"><a href="#">WOMEN</a></li>
      <li class="menu-border"><a href="#">MEN</a></li>
      <li class="menu-border"><a href="#">CART</a></li>
    </ul> -->
</header>

<div class="container">
  <div class="mob-banner">
    <div class="pic">
      <img src="\assets\mob.png" width="700" height="300px" />
    </div>

    <div class="content">
      <h1>Mobiles Collections</h1>
      <h5>{{ all | uppercase | slice: 8:15 }}</h5>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary ">
  <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/cart"
          >Cart</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login-page"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/signup-page"
          >SignUp</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="/"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Action</a>
          <a class="dropdown-item" href="/">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Something else here</a>
        </div>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
</nav>
