.bt {
  margin: 0 10px;
}

.mobile-divide {
  /* border: 1px solid skyblue; */
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.gd {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 100%;
}

.wish-list {
  margin: 5px;
}

.cart-list {
  margin: 5px;
}
